<div class="container">
  <form #myForm="ngForm" (ngSubmit)="savaData(myForm)">
      <div class="form-group">
        <label for="exampleInputName">Name </label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" ngModel name="nameInput" />
        <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel name="emailInput" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="pwdInput">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" ngModel name="checkboxInput" />
        <label class="form-check-label" for="exampleCheck1">Agreed on Contract</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="clearFields(myForm)">Clear</button>
    </form>
     <br/>
     <br/>
    <div class="container">
      <h3>Data Table</h3>
      <p>All the data stored curently in local storage </p>            
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Term & Condition</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataItem of data">
            <td>{{dataItem.name}}</td>
            <td>{{dataItem.email}}</td>
            <td>{{dataItem.pwd}}</td>
            <td>{{dataItem.term}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>