<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <button
          type="button"
          class="btn btn-outline-light btn_space"
          (click)="home()"
          *ngIf="homeVisiable"
        >
          HOME
        </button>
      </li>
      <li class="nav-item active">
        <button
          type="button"
          class="btn btn-outline-light btn_space"
          (click)="registration()"
          *ngIf="registrationVisiable"
        >
          New User
        </button>
      </li>

      <li class="nav-item active">
        <button
          type="button"
          class="btn btn-outline-light btn_space"
          (click)="adminHome()"
          *ngIf="adminVisiable"
        >
          ADMIN
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-outline-light btn_space"
          (click)="userHome()"
          *ngIf="userVisiable"
        >
          USER
        </button>
      </li>

      <li class="nav-item active">
        <button
          type="button"
          class="btn btn-outline-light btn_space"
          (click)="employees()"
          *ngIf="employeMgmtVisable"
        >
          EMP-MGMT
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-outline-light btn_space"
          (click)="users()"
          *ngIf="userMgmtVisable"
        >
          USER-MGMT
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-outline-light btn_space"
          *ngIf="contactUsVisiable"
        >
          Contact Us
        </button>
      </li>
    </ul>
    <button
      type="button"
      class="btn btn-outline-light btn_space"
      *ngIf="logoutVisiable"
      (click)="logout()"
    >
      LOGOUT
    </button>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0 btn_space"
        type="submit"
      >
        Search
      </button>
    </form>
  </div>
</nav>
<div class="alert alert-info">
  <div class="row justify-content-center align-items-center alert alert-info">
    <h1>ESPARK INNOVATION LABS</h1>
  </div>
  <div>
    <flash-messages></flash-messages>
  </div>
</div>
