<div>
  <br />
  <h3>WELCOME {{ userName }} TO THE USER HOME</h3>
  <br />
  <br />
  <div class="container">
    <h1>View {{ employee.firstName }} {{ employee.lastName }} Data Details</h1>
    <table class="table">
      <tr>
        <td>First Name:</td>
        <td>{{ employee.firstName }}</td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td>{{ employee.lastName }}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{ employee.email }}</td>
      </tr>
      <tr>
        <td>Profession:</td>
        <td>{{ employee.profession }}</td>
      </tr>
    </table>
  </div>
</div>
